.fontSizeCustom{
    font-size: 2rem;
}

.box{
    border: 2px solid #ddd;
    width: 88%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 5px 10px #fffcfc;
}

.button{
    margin-top: 1rem;
    background-color: #f1ca85;
    padding: 10px;
    text-align: center;
    color: black;
    font-weight: bold;
}
.button:hover{
    background-color: #db8e09;
    cursor: pointer;
}